@font-face {
  font-family: 'Botw';
  src: url('~assets/lotr/The-Wild-Breath-of-Zelda.otf');
}

@font-face {
  font-family: 'IMFellEnglish-Regular';
  src: url('~assets/lotr/IMFellEnglish-Regular.ttf');
}

@font-face {
  font-family: 'tngan';
  src: url('~assets/lotr/tngan.ttf');
}

@font-face {
  font-family: 'Aniron';
  src: url('~assets/lotr/Aniron.ttf');
}

.botw {
  font-family: 'Botw';
}

.imfell {
  font-family: 'IMFellEnglish-Regular';
}

.tngan {
  font-family: 'Aniron';
}

.aniron {
  font-family: 'Aniron';
}

@font-face {
  font-family: 'Frizquadratac';
  src: url('~assets/the-shining/FrizQuadrataC-Bold.otf');
}

@font-face {
  font-family: 'GT Sectra Regular';
  src: url('~assets/the-shining/GT-Sectra-Regular.ttf');
}

@font-face {
  font-family: 'Autography';
  src: url('~assets/the-shining/Autography.otf');
}

.friz {
  font-family: 'Frizquadratac';
}

.sectra {
  font-family: 'GT Sectra Regular';
}

.autography {
  font-family: 'Autography';
}

:root {
  --dark-grey: #171919;
  --black: #000000;
  --white: #ffffff;
  --ts-yellow: #fad000;
  --ts-darker-yellow: #f9c900;
  --ts-dark-yellow: #f7bc00;
  --ts-light-red: #ec3d2b;
  --ts-dark-red: #a12133;
  --lotr-beige: #e2e4dc;
  --lotr-grey: #7e7f7f;
  --lotr-red: #d81a22;
  --lotr-light-red: #ec5144;
  --lotr-yellow: #feca53;
  --lotr-orange: #f1ad48;
  --dark-blue: #2D323F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.cta {
  color: var(--white);
  background-color: var(--dark-grey);
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  margin: 2em 0 3em;
  transition: 0.3s ease-in-out;
}